<!-- navbar -->
<header my-header-bar></header>

<!-- sidebar -->
<div id="sidebar-nav" my-side-bar></div>

<!-- background switcher -->
<div class="bg-switch visible-desktop">
    <div class="bgs">
        <a href="#" data-img="landscape.jpg" class="bg active">
            <img src="/static/img/bgs/landscape.jpg" alt="background"/>
        </a>
        <a href="#" data-img="blueish.jpg" class="bg">
            <img src="/static/img/bgs/blueish.jpg" alt="background"/>
        </a>
        <a href="#" data-img="7.jpg" class="bg">
            <img src="/static/img/bgs/7.jpg" alt="background"/>
        </a>
        <a href="#" data-img="8.jpg" class="bg">
            <img src="/static/img/bgs/8.jpg" alt="background"/>
        </a>
        <a href="#" data-img="9.jpg" class="bg">
            <img src="/static/img/bgs/9.jpg" alt="background"/>
        </a>
        <a href="#" data-img="10.jpg" class="bg">
            <img src="/static/img/bgs/10.jpg" alt="background"/>
        </a>
        <a href="#" data-img="11.jpg" class="bg">
            <img src="/static/img/bgs/11.jpg" alt="background"/>
        </a>
    </div>
</div>

<div class="login-wrapper">
    <a href="/">
        <img class="logo" src="/static/img/logo-white.png" alt="logo"/>
    </a>

    <div class="box">
        <div class="content-wrap">
            <h6>Log in</h6>
            <input class="form-control" type="text" placeholder="E-mail address">
            <input class="form-control" type="password" placeholder="Your password">
            <a href="#" class="forgot">Forgot password?</a>

            <div class="remember">
                <input id="remember-me" type="checkbox">
                <label for="remember-me">Remember me</label>
            </div>
            <a class="btn-glow primary login" ui-sref="index">Log in</a>
        </div>
    </div>

    <div class="no-account">
        <p>Don't have an account?</p>
        <a ui-sref="signup">Sign up</a>
    </div>
</div>

<!-- pre load bg imgs -->
<script type="text/javascript">
    $(function () {
        // bg switcher
        var $btns = $(".bg-switch .bg");
        $btns.click(function (e) {
            e.preventDefault();
            $btns.removeClass("active");
            $(this).addClass("active");
            var bg = $(this).data("img");

            $("html").css("background-image", "url('img/bgs/" + bg + "')");
        });

    });
</script>
